@use "./variables" as v;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --dark-bg: #1a2238;
  --dark-light-bg: #9daaf2;
  --light-bg: #ff6a3d;
  --light-color: #f4db7d;
}

* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  // display: flex;
  // place-items: center;
  min-width: 100%;
  min-height: 100vh;
}

.outline {
  text-shadow: 5px 8px 0 #000000, 6px 8px 0 #000000, 1px -1px 0 #000000,
    -1px -1px 0 #000000;
}

.border-radius {
  border-radius: 25px;
}

.dark-bg {
  background-color: var(--dark-bg);
}
.dark-light-bg {
  background-color: var(--dark-light-bg);
}
.light-bg {
  background-color: var(--light-bg);
  color: var(--dark-bg);
}
.light-color {
  background-color: var(--light-color);
  color: var(--dark-bg);
}

.float-right {
  float: right;
}
.float-left {
  float: left;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

h1 {
  font-size: 6rem;
}
h2 {
  font-size: 5rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
}

.underline {
  text-underline-offset: 1.3rem;
  text-decoration: underline;
}

.underline-color-light {
  text-decoration-color: var(--light-bg);
}

.p-1 {
  padding: calc(v.$fourpx * 1);
}
.p-2 {
  padding: calc(v.$fourpx * 2);
}
.p-3 {
  padding: calc(v.$fourpx * 3);
}
.p-4 {
  padding: calc(v.$fourpx * 4);
}
.p-5 {
  padding: calc(v.$fourpx * 5);
}
.p-6 {
  padding: calc(v.$fourpx * 6);
}
.p-7 {
  padding: calc(v.$fourpx * 7);
}
.p-8 {
  padding: calc(v.$fourpx * 8);
}

.p-tb-1 {
  padding-top: calc(v.$fourpx * 1);
  padding-bottom: calc(v.$fourpx * 1);
}
.p-tb-2 {
  padding-top: calc(v.$fourpx * 2);
  padding-bottom: calc(v.$fourpx * 2);
}
.p-tb-3 {
  padding-top: calc(v.$fourpx * 3);
  padding-bottom: calc(v.$fourpx * 3);
}
.p-tb-4 {
  padding-top: calc(v.$fourpx * 4);
  padding-bottom: calc(v.$fourpx * 4);
}
.p-tb-5 {
  padding-top: calc(v.$fourpx * 5);
  padding-bottom: calc(v.$fourpx * 5);
}
.p-tb-6 {
  padding-top: calc(v.$fourpx * 6);
  padding-bottom: calc(v.$fourpx * 6);
}
.p-tb-7 {
  padding-top: calc(v.$fourpx * 7);
  padding-bottom: calc(v.$fourpx * 7);
}
.p-tb-8 {
  padding-top: calc(v.$fourpx * 8);
  padding-bottom: calc(v.$fourpx * 8);
}

.p-lr-1 {
  padding-left: calc(v.$fourpx * 1);
  padding-right: calc(v.$fourpx * 1);
}
.p-lr-2 {
  padding-left: calc(v.$fourpx * 2);
  padding-right: calc(v.$fourpx * 2);
}
.p-lr-3 {
  padding-left: calc(v.$fourpx * 3);
  padding-right: calc(v.$fourpx * 3);
}
.p-lr-4 {
  padding-left: calc(v.$fourpx * 4);
  padding-right: calc(v.$fourpx * 4);
}
.p-lr-5 {
  padding-left: calc(v.$fourpx * 5);
  padding-right: calc(v.$fourpx * 5);
}
.p-lr-6 {
  padding-left: calc(v.$fourpx * 6);
  padding-right: calc(v.$fourpx * 6);
}
.p-lr-7 {
  padding-left: calc(v.$fourpx * 7);
  padding-right: calc(v.$fourpx * 7);
}
.p-lr-8 {
  padding-left: calc(v.$fourpx * 8);
  padding-right: calc(v.$fourpx * 8);
}

.m-1 {
  margin: calc(v.$fourpx * 1);
}
.m-2 {
  margin: calc(v.$fourpx * 2);
}
.m-3 {
  margin: calc(v.$fourpx * 3);
}
.m-4 {
  margin: calc(v.$fourpx * 4);
}
.m-5 {
  margin: calc(v.$fourpx * 5);
}
.m-6 {
  margin: calc(v.$fourpx * 6);
}
.m-7 {
  margin: calc(v.$fourpx * 7);
}
.m-8 {
  margin: calc(v.$fourpx * 8);
}

.m-lr-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-tb-1 {
  margin-top: calc(v.$fourpx * 1);
  margin-bottom: calc(v.$fourpx * 1);
}
.m-tb-2 {
  margin-top: calc(v.$fourpx * 2);
  margin-bottom: calc(v.$fourpx * 2);
}
.m-tb-3 {
  margin-top: calc(v.$fourpx * 3);
  margin-bottom: calc(v.$fourpx * 3);
}
.m-tb-4 {
  margin-top: calc(v.$fourpx * 4);
  margin-bottom: calc(v.$fourpx * 4);
}
.m-tb-5 {
  margin-top: calc(v.$fourpx * 5);
  margin-bottom: calc(v.$fourpx * 5);
}
.m-tb-6 {
  margin-top: calc(v.$fourpx * 6);
  margin-bottom: calc(v.$fourpx * 6);
}
.m-tb-7 {
  margin-top: calc(v.$fourpx * 7);
  margin-bottom: calc(v.$fourpx * 7);
}
.m-tb-8 {
  margin-top: calc(v.$fourpx * 8);
  margin-bottom: calc(v.$fourpx * 8);
}
